.block-editor-block-inspector .block-editor-panel-responsive {
    .components-tab-panel__tabs {
        justify-content: space-evenly;
    }
    .responsive-controls-tab-panel {
        .components-tab-panel__tabs {
            background: #78a1bd14;
            border-radius: 8px;
        }
        .components-tab-panel__tabs-item {
            flex-grow: 1;

            &:not(:hover) {
                color: #666666;
            }
            &.is-active {
                background: #78a1bd2b;
            }
        }
    }
    &.has-active-phone-options .responsive-controls-tab-panel .tab-phone:not(:hover),
    &.has-active-tablet-options .responsive-controls-tab-panel .tab-tablet:not(:hover),
    &.has-active-laptop-options .responsive-controls-tab-panel .tab-laptop:not(:hover),
    &.has-active-desktop-options .responsive-controls-tab-panel .tab-desktop:not(:hover) {
        color: #00aa00;
    }
    .responsive-controls-tab-content {
        margin-top: 15px;

        .components-tools-panel {
            padding-inline: 0;
            padding-bottom: 0;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .components-tools-panel-item:last-child > * {
                margin-bottom: 10px;
            }
        }

        .components-tools-panel-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .components-base-control__label {
        width: 100%;
        margin-block: 5px;
    }

    .components-toggle-control {
        margin-block: 5px;
    }

    .components-panel__row:nth-last-child(1 of .components-panel__row) {
        margin-bottom: 10px;
    }

    [id^="inspector-box-control"].components-grid,
    #responsive-block-gap-control {
        width: 100%;
        margin-bottom: 10px;

        .components-base-control {
            margin-bottom: 0;
        }
    }

    #responsive-block-gap-control .components-h-stack > span:first-child {
        display: none;
    }
}
