$device: "_DEVICE_";

.tzm-responsive-center-#{$device} {
    text-align: center !important;

    &.is-layout-flex {
        &:not(.is-vertical) {
            justify-content: center !important;

            &.wp-block-navigation .wp-block-navigation__container {
                justify-content: center !important;
            }
        }

        &.is-vertical {
            align-items: center !important;

            &.wp-block-navigation .wp-block-navigation__container {
                align-items: center !important;
            }
        }
    }
    .is-layout-flex.is-vertical > & {
        align-self: center !important;
    }
}
.tzm-responsive-hidden-#{$device} {
    display: none !important;
}
.tzm-responsive-fullwidth-#{$device} {
    width: 100%;

    .is-layout-flex > & {
        flex-basis: 100% !important;
    }
    .wp-block-columns:has(&),
    .wp-block-group.is-layout-flex.is-nowrap:has(&) {
        flex-wrap: wrap !important;
    }
    .wp-block-buttons:has(&),
    &.wp-block-button .wp-block-button__link,
    &.wp-element-button {
        width: 100%;
    }
}
.tzm-responsive-reverse-#{$device} {
    &.is-layout-flex:not(.is-vertical) {
        flex-direction: row-reverse !important;
    }
    &.is-layout-flex.is-vertical {
        flex-direction: column-reverse !important;
    }
    &.wp-block-media-text {
        &:not(.has-media-on-the-right) {
            direction: rtl;
        }
        &.has-media-on-the-right {
            direction: ltr;
        }
    }
}

[style*="--tzm--responsive--padding--#{$device}"] {
    padding: var(--tzm--responsive--padding--#{$device}) !important;
}
[style*="--tzm--responsive--padding-top--#{$device}"] {
    padding-top: var(--tzm--responsive--padding-top--#{$device}) !important;
}
[style*="--tzm--responsive--padding-right--#{$device}"] {
    padding-right: var(--tzm--responsive--padding-right--#{$device}) !important;
}
[style*="--tzm--responsive--padding-bottom--#{$device}"] {
    padding-bottom: var(--tzm--responsive--padding-bottom--#{$device}) !important;
}
[style*="--tzm--responsive--padding-left--#{$device}"] {
    padding-left: var(--tzm--responsive--padding-left--#{$device}) !important;
}

[style*="--tzm--responsive--margin--#{$device}"] {
    margin: var(--tzm--responsive--margin--#{$device}) !important;
}
[style*="--tzm--responsive--margin-top--#{$device}"] {
    margin-top: var(--tzm--responsive--margin-top--#{$device}) !important;
}
[style*="--tzm--responsive--margin-right--#{$device}"] {
    margin-right: var(--tzm--responsive--margin-right--#{$device}) !important;
}
[style*="--tzm--responsive--margin-bottom--#{$device}"] {
    margin-bottom: var(--tzm--responsive--margin-bottom--#{$device}) !important;
}
[style*="--tzm--responsive--margin-left--#{$device}"] {
    margin-left: var(--tzm--responsive--margin-left--#{$device}) !important;
}
