$device: "_DEVICE_";

.tzm-responsive-center-#{$device} {
    text-align: center !important;
    justify-content: center !important;
}
.tzm-responsive-hidden-#{$device} {
    display: none !important;
}
.tzm-responsive-fullwidth-#{$device} {
    flex-basis: 100% !important;

    .wp-block-columns:has(&),
    .wp-block-group.is-layout-flex.is-horizontal:has(&) {
        flex-wrap: wrap !important;
    }
}
.tzm-responsive-reverse-#{$device} {
    &.wp-block-group.is-layout-flex.is-horizontal {
        flex-direction: row-reverse;
    }
    &.wp-block-group.is-layout-flex.is-vertical,
    &.wp-block-columns {
        flex-direction: column-reverse;
    }
    &.wp-block-media-text {
        &:not(.has-media-on-the-right) {
            direction: rtl;
        }
        &.has-media-on-the-right {
            direction: ltr;
        }
    }
}

[style*="--tzm--responsive--padding--"] {
    padding: var(--tzm--responsive--padding--#{$device}, initial) !important;
}
[style*="--tzm--responsive--padding-top--"] {
    padding-top: var(--tzm--responsive--padding-top--#{$device}, initial) !important;
}
[style*="--tzm--responsive--padding-right--"] {
    padding-right: var(--tzm--responsive--padding-right--#{$device}, initial) !important;
}
[style*="--tzm--responsive--padding-bottom--"] {
    padding-bottom: var(--tzm--responsive--padding-bottom--#{$device}, initial) !important;
}
[style*="--tzm--responsive--padding-left--"] {
    padding-left: var(--tzm--responsive--padding-left--#{$device}, initial) !important;
}

[style*="--tzm--responsive--margin--"] {
    margin: var(--tzm--responsive--margin--#{$device}, initial) !important;
}
[style*="--tzm--responsive--margin-top--"] {
    margin-top: var(--tzm--responsive--margin-top--#{$device}, initial) !important;
}
[style*="--tzm--responsive--margin-right--"] {
    margin-right: var(--tzm--responsive--margin-right--#{$device}, initial) !important;
}
[style*="--tzm--responsive--margin-bottom--"] {
    margin-bottom: var(--tzm--responsive--margin-bottom--#{$device}, initial) !important;
}
[style*="--tzm--responsive--margin-left--"] {
    margin-left: var(--tzm--responsive--margin-left--#{$device}, initial) !important;
}
