$device: "_DEVICE_";

/** 
 * GENERAL SETTINGS
 */

// Hidden
.tzm-responsive__hidden__#{$device} {
    // Only hide hidden blocks on Frontend
    &:not(.wp-block) {
        display: none !important;
    }

    // Indicate or hide hidden blocks in the Block Editor
    &.wp-block {
        opacity: 0.3;
        background: var(--tzm--hidden-blocks-bg, none);

        .tzm--hidden-blocks & {
            display: none !important;
        }
    }
}

// Full width
.tzm-responsive__full-width__#{$device} {
    .is-layout-flex > &,
    .wp-block-navigation > &,
    .wp-block-navigation > .block-editor-block-list__layout > & {
        box-sizing: border-box;
        flex-basis: 100% !important;
        width: 100%;
    }
    .wp-block-columns:has(&),
    .wp-block-group.is-layout-flex.is-nowrap:has(&) {
        flex-wrap: wrap !important;
    }

    > .wp-block-button__link,
    > .wp-block-navigation-item__content {
        width: 100% !important;
    }
}

// (Flex) Width
[style*="--tzm-responsive--width--#{$device}"] {
    .is-layout-flex > &,
    .wp-block-navigation > &,
    .wp-block-navigation > .block-editor-block-list__layout > & {
        box-sizing: border-box;
        flex-basis: calc(
            (1% * var(--tzm-responsive--width--#{$device})) -
                var(--tzm-responsive--block-gap--#{$device}, var(--wp--style--block-gap, 0.5em)) *
                (1 - var(--tzm-responsive--width--#{$device}) / 100)
        ) !important;
        width: calc(
            (1% * var(--tzm-responsive--width--#{$device})) -
                var(--tzm-responsive--block-gap--#{$device}, var(--wp--style--block-gap, 0.5em)) *
                (1 - var(--tzm-responsive--width--#{$device}) / 100)
        );
    }

    .wp-block-columns:has(&),
    .wp-block-group.is-layout-flex.is-nowrap:has(&) {
        flex-wrap: wrap !important;
    }
    &.wp-block-column {
        flex-grow: 0 !important;
    }

    > .wp-block-button__link,
    > .wp-block-navigation-item__content {
        width: 100%;
    }

    // Gallery Image **experimental**
    .wp-block-gallery.has-nested-images &.wp-block-image {
        --tzm-responsive--block-gap--#{$device}: var(--wp--style--unstable-gallery-gap);
        flex-grow: unset;
    }
}

// Reverse
.tzm-responsive__reverse__#{$device} {
    &.is-layout-flex:not(.is-vertical):not(.wp-block-navigation) {
        flex-direction: row-reverse !important;

        &:has(.tzm-responsive__full-width__#{$device}) {
            flex-direction: column-reverse !important;
        }
    }
    &.is-layout-flex.is-vertical:not(.wp-block-navigation) {
        flex-direction: column-reverse !important;

        /*&:has([style*="--tzm-responsive--width--#{$device}"]) {
            flex-direction: row-reverse !important;
        }*/
    }

    // Navigation block
    &.wp-block-navigation.is-horizontal .wp-block-navigation__container {
        --navigation-layout-direction: row-reverse;
    }
    &.wp-block-navigation.is-vertical .wp-block-navigation__container {
        --navigation-layout-direction: column-reverse;
    }

    &.is-responsive .is-menu-open .wp-block-navigation__container {
        flex-direction: column-reverse;
    }
}

// Justify
[style*="--tzm-responsive--justify--#{$device}"] {
    &.is-layout-flex {
        &:not(.is-vertical),
        &.is-horizontal,
        &:not(.is-vertical).wp-block-navigation .wp-block-navigation__container,
        &.is-horizontal.wp-block-navigation .wp-block-navigation__container {
            justify-content: var(--tzm-responsive--justify--#{$device}) !important;
        }

        &.is-vertical,
        &.is-vertical.wp-block-navigation .wp-block-navigation__container {
            align-items: var(--tzm-responsive--justify--#{$device}) !important;
        }
    }
}

/** 
 * IMAGE SETTINGS
 */

// Image alignment
.tzm-responsive__image-align-left__#{$device} {
    text-align: left !important;

    &.wp-block-post-featured-image {
        margin-left: 0 !important;
    }
}
.tzm-responsive__image-align-center__#{$device} {
    text-align: center !important;

    &.wp-block-post-featured-image {
        margin-inline: auto !important;
    }
}
.tzm-responsive__image-align-right__#{$device} {
    text-align: right !important;

    &.wp-block-post-featured-image {
        margin-right: 0 !important;
    }
}
[class*="tzm-responsive__image-align-"] {
    // Editor only
    &.wp-block-avatar > .components-resizable-box__container,
    &.wp-block-site-logo > .components-resizable-box__container,
    &.wp-block-image > .components-resizable-box__container {
        display: inline-block !important;
    }
}

// Media width
[style*="--tzm-responsive--media-width--#{$device}"] {
    &.wp-block-post-featured-image,
    &.wp-block-site-logo > *,
    &.wp-block-avatar > *,
    &.wp-block-image > *,
    &.wp-block-video > * {
        width: var(--tzm-responsive--media-width--#{$device}) !important;
        height: auto !important;

        img,
        video {
            width: 100%;
        }
    }
}

// Focal point
[style*="--tzm-responsive--focal-point--#{$device}"] {
    &.has-background {
        background-position: var(--tzm-responsive--focal-point--#{$device}) !important;
    }
    img,
    video {
        object-position: var(--tzm-responsive--focal-point--#{$device}) !important;
    }
}

/** 
 * TYPOGRAPHY SETTINGS
 */

// Text alignment
[style*="--tzm-responsive--text-align--#{$device}"] {
    text-align: var(--tzm-responsive--text-align--#{$device}) !important;

    & > figcaption,
    & > .wp-block-button__link {
        text-align: inherit !important;
    }

    // Editor only
    &.wp-block-site-logo > .components-resizable-box__container,
    &.wp-block-image > .components-resizable-box__container {
        display: inline-block !important;
    }
}

// Font size
[style*="--tzm-responsive--font-size--#{$device}"] {
    &.wp-block, // Editor only
    & {
        font-size: var(--tzm-responsive--font-size--#{$device}) !important;
    }

    &.wp-block-buttons .wp-block-button__link,
    &.wp-block-button .wp-block-button__link {
        font-size: inherit !important;
    }
}

/** 
 * DIMENSIONS SETTINGS
 */

// Padding
[style*="--tzm-responsive--padding--#{$device}"] {
    padding: var(--tzm-responsive--padding--#{$device}) !important;
}
[style*="--tzm-responsive--padding-top--#{$device}"] {
    padding-top: var(--tzm-responsive--padding-top--#{$device}) !important;
}
[style*="--tzm-responsive--padding-right--#{$device}"] {
    padding-right: var(--tzm-responsive--padding-right--#{$device}) !important;
}
[style*="--tzm-responsive--padding-bottom--#{$device}"] {
    padding-bottom: var(--tzm-responsive--padding-bottom--#{$device}) !important;
}
[style*="--tzm-responsive--padding-left--#{$device}"] {
    padding-left: var(--tzm-responsive--padding-left--#{$device}) !important;
}

// Margin
[style*="--tzm-responsive--margin--#{$device}"] {
    margin: var(--tzm-responsive--margin--#{$device}) !important;
}
[style*="--tzm-responsive--margin-top--#{$device}"] {
    margin-top: var(--tzm-responsive--margin-top--#{$device}) !important;
}
[style*="--tzm-responsive--margin-right--#{$device}"] {
    margin-right: var(--tzm-responsive--margin-right--#{$device}) !important;
}
[style*="--tzm-responsive--margin-bottom--#{$device}"] {
    margin-bottom: var(--tzm-responsive--margin-bottom--#{$device}) !important;
}
[style*="--tzm-responsive--margin-left--#{$device}"] {
    margin-left: var(--tzm-responsive--margin-left--#{$device}) !important;
}

// Minimum height
[style*="--tzm-responsive--height--#{$device}"] {
    // **Deprecated**
    min-height: var(--tzm-responsive--height--#{$device}) !important;
}
[style*="--tzm-responsive--min-height--#{$device}"] {
    min-height: var(--tzm-responsive--min-height--#{$device}) !important;

    &.wp-block-spacer {
        height: var(--tzm-responsive--min-height--#{$device}) !important;
    }
}

// Block gap
[style*="--tzm-responsive--block-gap--#{$device}"] {
    gap: var(--tzm-responsive--block-gap--#{$device}) !important;

    > [class*="__inner-container"] > :not(:last-child) {
        margin-block-end: var(--tzm-responsive--block-gap--#{$device}) !important;
    }
}

// Border-radius
[style*="--tzm-responsive--border-radius--#{$device}"] {
    border-radius: var(--tzm-responsive--border-radius--#{$device}) !important;
}
[style*="--tzm-responsive--border-radius-top-left--#{$device}"] {
    border-top-left-radius: var(--tzm-responsive--border-radius-top-left--#{$device}) !important;
}
[style*="--tzm-responsive--border-radius-top-right--#{$device}"] {
    border-top-right-radius: var(--tzm-responsive--border-radius-top-right--#{$device}) !important;
}
[style*="--tzm-responsive--border-radius-bottom-right--#{$device}"] {
    border-bottom-right-radius: var(--tzm-responsive--border-radius-bottom-right--#{$device}) !important;
}
[style*="--tzm-responsive--border-radius-bottom-left--#{$device}"] {
    border-bottom-left-radius: var(--tzm-responsive--border-radius-bottom-left--#{$device}) !important;
}

// Mobile specific styles
/*
.tzm-responsive__reverse-_DEVICE_.is-layout-flex:not(.wp-block-group):not(.wp-block-navigation):not(.is-not-stacked-on-mobile) {
    flex-direction: column-reverse !important;
}
*/
